h1 {
    color:royalblue
}
html{
  background-color: lightblue;  
}
body{
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
}
nav.navbar {
    background: gray !important;
    
  }
  .navbar a.navbar-brand {
    color: white;
  }
  /* change navbar-brand color on hover */
  .navbar a.navbar-brand:hover {
    color: aqua;
  }
  /* change navbar background on collapse */
@media(max-width: 768px) {
    nav.navbar {
      background: burlywood !important;
    }
}
.navbar-nav > li{
  padding-left:20px;
  padding-right:100px;
}
.table_responsive {
  overflow:hidden;
  overflow-x: scroll;
  overflow-y: scroll;
  height:500px;
}
.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
  }
.table-wrapper-scroll-y {
display: block;
  }