<!-- Footer -->
<footer class="footer mt-5 py-3 bg-light" id="footer">
    <div class ="container">
        <p class="text-muted" style = "text-align: center; word-spacing: 5rem;">
            <a class = "btn px-2 mx-1 btn-outline-primary" href ="https://github.com/mgfogerson/">Github</a>  
            <a class = "btn px-2 mx-1 btn-outline-primary" href = "https://www.linkedin.com/in/galen-fogerson/">LinkedIn</a>    
            <a class = "btn px-2 mx-1 btn-outline-primary"  href = "mailto:mgfogerson@gmail.com">Contact</a>    
     
            </span>
    </div>
</footer>

