<nav class="navbar navbar-expand-md bg-light">
  <div class="container">
    <a href="#" class="navbar-brand">
      <h3 class="text-primary">Galen Fogerson</h3>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{{ site.index }}/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.index }}/projects/" class="nav-link">Projects</a>
        </li>
      </ul>
    </div>
  </div>
</nav>