<nav class="navbar fixed-top navbar-expand-lg" id="navBar">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarCenteredExample"
    >
    <span class="navbar-brand mb-0 h1" id="mybrand">Galen Fogerson</span>
      <!-- Left links -->
      {% for item in site.data.navigation %}
    <a class = "btn px-2 mx-1 btn-outline-primary" href="{{ item.link }}" id="navbuttons">
      {{ item.name }}
    </a>
      {% endfor %}
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>