//Homepage specific
#splashtext{
  font-family: Arial Narrow, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

#splashcontainer{
  margin-top: 10rem;
}


#display_jumbo{
background-color: rgba(128, 128, 128, 0.8);
height: fit-content;
width: 100%;
;
}

#splashbutton{
width: 7rem;
margin-left: 1rem;
margin-right: 1rem;
}


//Portfolio-specific

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bolder;
}

.card-body:hover .overlay {
  opacity: 0.5;
}


#scriptdiv{
  border:10px solid #003366;
  justify-content: center;
  height: 100%;
  width: 100%; 
  background-color: #f2f2f2;
  margin-bottom: 5rem;
  }

#map{
  border:10px solid #003366;
  justify-content: center;
  height: 50vmax;
  width: 50vmax;
  background-color: #f2f2f2;
  margin-bottom: 5rem;
  z-index: 0;
}


#projecttitle{
  margin-top: 3%;
  margin-bottom: 3%;
  font-weight: bold;
  text-align: center;
  color: black;
  font-size: 15;
}


p{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

#infop{
  margin-top: 50%;
  font-style: italic;
  color: white;
}


#gitLink{
  display:block;
  margin:auto;
}

//works on all pages
html{ 
  height: 100%; 
}


#mybrand{
  font-weight: bold;
  color:black !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

#navbuttons{
  background-color: #52ab9854;
  border-color: #000000;
  color: #000000;
  font-weight: bold;
  border-radius: 7px;
}

body{
  background-image: url("/assets/images/IMG_1669.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding-top: 80px; 
}

#navBar{
  background-color: rgba(116,203,209,0.6);
}


#footer{
  position:fixed;
  background-color: rgba(116,203,209,0.6);
  left:0px;
  bottom:0;
  width:100%;
}

