<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{page.title}}</title>
        <!-- bootstrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <!-- CSS -->
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <style>#navbar {z-index: 1 !important;} </style>
      </head>
    <body>
    <div class = "container" style="margin-bottom: 10%;">
        <div class = "row">
            {% include navigation.html %}
        </div>
    </div>
        <div class = "container">
            <div class = "row">
                <div class = "col">
                    <div class = "jumbotron text-center" style="background-color: rgba(128, 128, 128); border: solid; border-color:  white;">
                        <h3 style="margin-bottom: 3%;">{{ page.date | date_to_string: "ordinal", "US"}}</h3>
                        {{content}}
                    </div>
                </div>
        </div>
    <div class="container">
        <div class = "row">
            {{include footer.html}}
        </div>
    </div>
    </body>
</html>