<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{page.title}}</title>
  <!-- bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <!-- CSS -->
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <style>#navbar {z-index: 1 !important;} </style>
</head>

<body onload="init()">
    <div class = "container">
        <div class = "row" style="padding-bottom: 3%;">
            {% include navigation.html %}
        </div>
    </div>

    <div class="container">
        <div class ="row justify-content-center">
            <div class = "col-md-6">
                <div class = "jumbotron text-center" id="display_jumbo">
                    {{content}}
                </div>
            </div>        
        <div class="pb-5 row justify-content-center">
            <div class="col-md-2">
                
            <div class="col-lg-5">
            </div>
        </div>
        <div class="row justify-content-center">

            <div class="col-lg-9">
                <div id="bar"></div>
            </div>
            <div class="col-lg-3">
                <div class="card" style="background-color: rgba(134,134,134,0.5); color: white;">
                    <div class="card-body">
                        <h5 class="card-title">Select Patient ID</h5>
                        <select id="selDataset" onchange="getData(this.value)">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="card" style="background-color: rgba(134,134,134,0.5); color: white;">
                    <div class="card-body">
                        <h3 class="card-title">Demographic Info</h3>
                        <div id="sample-metadata" class="card-body">
                            <h6 id="idinfo">ID: </h5>
                            <h6 id="ageinfo">Age: </h5>
                            <h6 id="locationinfo">Location: </h5>
                            <h6 id="bbtypeinfo">Blood Type: </h5>
                            <h6 id="ethnicityinfo">Ethnicity: </h5>
                            <h6 id="genderinfo">Gender: </h5>
                            <h6 id="wfreqinfo">Washing Frequency: </h5>
                        </div>   
                    </div>
                </div>
            </div>
            </div>

        </div>
        
    </div>
        <div class="row justify-content-center">
        <div class="col-md-6">
            <div id="bubble"></div>
        </div>
        <div class="col-md-3">
            <div id="gauge"></div>
        </div>
        </div>
    </div>
    <div class = "container">
        <div class = "row">
            {{%include Footer.html%}}
        </div>
    </div>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="/assets/js/plotlyviz.js"></script>
  <style></style>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
